<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9d4449454b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="app.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    </head>
    <body>
        <section class="hero">
            <nav>
               <div class="logo-container">
                     <h2 class="Logo">LOREM</h2>
               </div>
            </nav>

        </section>
        <section class="sale">
            <div class="sale-image">
               <img src="Images/Group95.png" alt="" srcset="" class="responsive">
            </div>
        </section>
        <section class="big-cont">
            <div class="expression">
              <div class="deal-img">
                 <img src="Images/id4-icon-clock.png" alt="" srcset="">
              </div> 
              <div class="deal-text">
                  <p class="deal-small">
                    These January Clearance Sales.
                  </p>
                  <h2 class="deal-large">
                     Today's Hot Deals 
                  </h2>
              </div>
            </div>
            <div class="products-container">
                  <div class="product">
                    <img src="Images/oreo.jpg" alt="" class="product-image">
                    <span class="percent">
                        -20%
                    </span>
                    <p class="name">Hello World</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star grey"></i>
    
                    </div>
                    <div class="price"><h2 class="red">₹20.00</h2><h2 class="cross">₹25.00</h2></div>
                   <a href="/home"> <button class="buy-now" onclick="updateCoin()">Buy Now</button></a>
                  </div>

                  <div class="product">
                    <img src="https://m.media-amazon.com/images/I/618fySthK8L._SL1500_.jpg" alt="" class="product-image">
                    <span class="percent">
                        -20%
                    </span>
                    <p class="name">Hello World</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star grey"></i>
    
                    </div>
                    <div class="price"><h2 class="red">₹20.00</h2><h2 class="cross">₹25.00</h2></div>
                    <a href="/home"> <button class="buy-now" onclick="updateCoin()">Buy Now</button></a>
                  </div>

                  <div class="product">
                    <img src="Images/oreo.jpg" alt="" class="product-image">
                    <span class="percent">
                        -20%
                    </span>
                    <p class="name">Hello World</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star grey"></i>
    
                    </div>
                    <div class="price"><h2 class="red">₹20.00</h2><h2 class="cross">₹25.00</h2></div>
                    <a href="/home"> <button class="buy-now" onclick="updateCoin()">Buy Now</button></a>
                  </div>

                  <div class="product">
                    <img src="Images/oreo.jpg" alt="" class="product-image">
                    <span class="percent">
                        -20%
                    </span>
                    <p class="name">Hello World</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star grey"></i>
    
                    </div>
                    <div class="price"><h2 class="red">₹20.00</h2><h2 class="cross">₹25.00</h2></div>
                    <a href="/home"> <button class="buy-now" onclick="updateCoin()">Buy Now</button></a>
                  </div>

                  <div class="product">
                    <img src="Images/oreo.jpg" alt="" class="product-image">
                    <span class="percent">
                        -20%
                    </span>
                    <p class="name">Hello World</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star grey"></i>
    
                    </div>
                    <div class="price"><h2 class="red">₹20.00</h2><h2 class="cross">₹25.00</h2></div>
                    <a href="/home"> <button class="buy-now" onclick="updateCoin()">Buy Now</button></a>
                  </div>
            </div>
        </section>
        <section class="footer">
             <div class="upper">
                <div class="upper-svg">
                   <img src="Images/undraw_online_groceries_a02y.svg" alt="" srcset="" class="left-image svgg">
                </div>
                <div class="svg-text">
                      <h1 class="tech">
                          Technology makes us better!
                      </h1>
                      <p class="tech-text">
                          Technology is ever-changing. Digital technologies connect people across the globe has become easier and faster. From a time when people faced problems in delivering messages via mobile phones due to internet speed, even internet technology has come of age.
                      </p>
                </div>
            </div>
                <div class="lower">
                <h1 class="logo">LOREM</h1>
                <div class="foot-mid">
                    &copy; LOREM | All rights reserved 
                </div>
                <div class="foot-right">
                    <div class="social">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
        </section>
        <script src="index2.js" async defer></script>
    </body>
</html>