<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
</head>
<body>
    <h1 class="text">Payment Successful !!</h1>
    <div class="buy-btn-final">
     <a href="http://192.168.43.199/servo2"><button class="bttn">Get your Product</button></a>
    </div>
    
</body>
</html>