<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9d4449454b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="index.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    </head>
    <body>
        <div class="shadow">
            <div class="popup">
                <h2 class="free_coins">
                    Enter your name to get 50 coins free.
                </h2>
                <div class="form">
                    <form>
                    <input type="text" class="text_box" placeholder="Enter your full name">
               <a href="/app" class="submit">Submit</a>  
                </form>
                </div>
            </div>
        </div>
        <section class="hero" id="home">
            <nav>
               <div class="logo-container">
                     <h2 class="Logo">E-Vendor</h2>
               </div>
               <div class="hamburger" onclick="addClass()">
                   <i class="fas fa-bars"></i>
               </div>
               <div class="get-started-container">
                   <a href="#home" class="nav-item">Home</a>
                    <a href="#about" class="nav-item">About</a>
                    <a href="#features" class="nav-item">Features</a>
                    <a href="/app" class="nav-item">Products</a>
                   <div class="btn-cont"> <button class="bttn" onclick="ShowPopup()">Get Started</button></div>
               </div>
               <div class="mob-screen">
                   <i class="fas fa-times" onclick="removeClass()"></i>
                   <a href="#home" class="nav-item-mob" onclick="removeClass()">Home</a>
                    <a href="#about" class="nav-item-mob" onclick="removeClass()">About</a>
                    <a href="#features" class="nav-item-mob" onclick="removeClass()">Features</a>
                    <a href="/app" class="nav-item-mob" onclick="removeClass()">Products</a>
                   <div class="btn-cont-mob"> <button onclick="removeClass()" class="bttn">Get Started</button></div>
               </div>
            </nav>
        <div class="herobody">
        <div class="hero-des">
            <h1 class="cursive">E-Commerce</h1>
            <h1 class="bold">Connect.<br/>Bond.Grow.</h1>
            <div class="hero-text-cont"><p class="hero-text">
                E-Vendor is a vending machine that runs on NodeMCU.
                It serves one touch vending of <i><strong>Packaged products</strong></i>  and enables online payment mechanism. 
            </p></div>
            <div class="btn-cont1"><a href="/app"> <button class="btn get-started">Get Started</button></a></div>
 
        </div>
        <div class="hero-left">
            <img src="Images/undraw_online_groceries_a02y.svg" alt="" class="left-image">
        </div>
        </div>


        </section>
        <section class="features-section" id="about">
            <h1 class="cursive feature-section-cursive">E-Commerce</h1>
            <div class="head2-container">
                <h1 class="part-2-head">Read more about E-Vendor <a href="https://github.com/SudhansuuRanjan/E-Vendor#readme">here</a></h1>
            </div>
            <div class="features">
                <div class="feature">
                    <div class="feature-icon">
                         <i class="fas fa-shield-alt feature-icons"></i>
                    </div>
                    <h3 class="feature-text">Safety
</h3>
                    <p class="feature-about">
                        No Contact Shopping , reduced chances of getting Covid-19
                    </p>
                </div>
                <div class="feature">
                    <div class="feature-icon">
                         <i class="fas fa-shopping-basket feature-icons"></i>
                    </div>
                    <h3 class="feature-text">Transparency</h3>
                    <p class="feature-about">
                       Supports all types of debit and credit cards. Instant Receipt through EMail.

                    </p>
                </div>
                <div class="feature">
                    <div class="feature-icon">
                         <i class="fas fa-store-alt feature-icons"></i>
                    </div>
                    <h3 class="feature-text">Accessibility
</h3>
                    <p class="feature-about">
                       One Touch Purchase of Packaged items like milk, cola or Biscuits and checkout flexibility.
                    </p>
                </div>
            </div>

            <div class="feature-description" id="features">
                <h1 class="what">What can E-Vendor do for me?</h1>
            </div>
            <div class="feature-container">
                <div class="feature-list">
                    <ul>
                        <li class="feature-btn1 btn-style" onclick="Fbtn1()">Feature1</li>
                       <li class="feature-btn2" onclick="Fbtn2()">Feature2</li>
                       <li class="feature-btn3" onclick="Fbtn3()">Feature3</li>
                        
                    </ul>  
                </div>
                <div class="feature-display">
                    <h2 class="feature-text-head">
                        Contactless Vending
                    </h2>
                    <p class="feature-text-explain">
                        Touchless vending of packaged items, which reduces the chances of getting covid. It could benefit the companies like <strong>Sudha Dairy, Amul & Cadbury. </strong>
                    </p>
                     <div class="btn-cont1"><a href="/app"> <button class="bttn get-started2">Get Started</button></a></div>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="upper">
                <div class="upper-svg">
                   <img src="Images/undraw_online_groceries_a02y.svg" alt="" srcset="" class="left-image svgg">
                </div>
                <div class="svg-text">
                      <h1 class="tech">
                          Technology makes us better!
                      </h1>
                      <p class="tech-text">
                          Technology is ever-changing. Digital technologies connect people across the globe has become easier and faster. From a time when people faced problems in delivering messages via mobile phones due to internet speed, even internet technology has come of age.
                      </p>
                </div>
            </div>
            <div class="lower">
                <h1 class="logo">E-Vendor</h1>
                <div class="foot-mid">
                    &copy; E-Vendor | All rights reserved 
                </div>
                <div class="foot-right">
                    <div class="social">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="social">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
        </section>
        <script src="index2.js" async defer></script>
    </body>
</html>
