@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavior: smooth;
}
.hero{
    margin-top: -5rem;
   position: fixed;
   width:100%;
   height: 12vh;
   z-index: 999;
   background: linear-gradient(78.5deg, #111111 -13.14%, #1a1f19 8.83%, #56d636 309.02%);
}
nav{
    display:flex;
    justify-content: space-between;
    margin: 0 4rem;
    height:6rem;
    overflow: hidden;
    
}
.Logo{
   margin: 1.5rem 1rem;
   color: rgba(33, 255, 13, 1);
   font-weight: 600;
}
.get-started-container{
    display:flex;
}
.nav-item{
   color:white;
   font-weight: 500;
   font-size: 1rem;
   margin:2rem 2rem;
   text-decoration: none;
}
.nav-item:hover{
    color:solid rgb(108, 255, 50);
   padding-bottom: 0rem;
   border-bottom : 4px solid rgb(108, 255, 50);
}
.btn-cont{
  margin: 1.5rem 1rem;
}
.bttn{
    padding: 0.7rem 3rem;
    border-radius: 0.7rem;
    background-color: rgba(33, 255, 13, 1);
    border: none;
    color:rgb(44, 44, 44);
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 1px 2px 8px 2px rgb(63, 63, 63);
    cursor:pointer;
}
.btn:active{
    background-color: #56d636;
}
@media (max-width:900px) {
    nav{
    display:flex;
    justify-content: space-between;
    margin: 0 2rem;
}
}
.fa-shopping-cart{
    color:#5dfa35;
    font-size: 2rem;
    margin-right: 2rem;
}
.fa-bell{
    color:#5dfa35;
    font-size: 2rem;
    margin-right: 0.5rem;
}
.mob-screen{
    position: absolute;
    z-index:999;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width:100%;
    background-color: #182b14;
    left:-100%;
}
.nav-item-mob{
   text-decoration: none;
   color: white;
   font-size: 1.4rem;
   margin: 2.2rem;
   font-weight: 600;
}
.btn-cont-mob{
    margin-top: 3rem;
}
.fa-times{
    text-align: right;
    margin: 3rem 4rem 2rem 0;
    font-size: 2rem;
    color: #5dfa35;
}
.hamburger{
    margin: 1.5rem;
    display:block;
}
.fa-bars{
    font-size: 2rem;
    color: #5dfa35;
}
@media (max-width:800px) {
    .get-started-container{
        display:none;
    }
}
.mob-screen-left0{
       left:0%;
    }

@media (max-width:800px) {
.get-started{
    box-shadow: 1px 2px 8px 2px rgb(27, 26, 26);
    margin-top: 2rem;
}
nav{
    margin: 0 1rem;
    height:6rem;
}

}
.sale-image{
    margin:auto;
    display: flex;
    align-content: center;
}
.sale{
    margin-top: 5rem;
}
.responsive {
    margin-top: 1.5rem;
  width: 95%;
  height: auto;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.big-cont{
    width:95%;
    background-color: #f7fbff;
    margin: auto;
    border-radius: 0.7rem;
    margin-top: 2rem;
}
.expression{
    display:flex;
    justify-content: center;
    padding-top: 3rem;
}
.deal-small{
    color:#0070dc;
    font-family: cursive;
    font-weight: 600;
    margin-top: 0.5rem;
}
.deal-large{
    background: -webkit-linear-gradient(
0deg, #0070dc, #43a3ff) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 34px !important;
    display: block;
    font-style: italic;
    font-weight: 700 !important;
}
.deal-text{
  margin-left: 0.2rem;
}
.product{
    background-color: white;
    border: 2px solid #e4f1ff;
    height: 23rem;
    width:14rem;
    border-radius: 0.8rem;
    text-align: center;
    margin-bottom: 2rem;
    margin: 1rem;
}
.percent{
   display:inline; 
   background-color: rgb(255, 177, 9);
   padding:10px;
   border-radius: 50%;
   z-index: 10;
   padding: 1.05rem 10px;
   font-weight: 600;
   margin-left: 9rem;
   position: relative;
   top: -46%;
}
.product-image{
    height: 11rem;
    width: 11rem;
    display: block;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}
.fa-star{
    color: rgb(255, 177, 9);
    margin-top: 0.5rem; 
}
.grey{
    color: rgb(204, 204, 204);
    margin-top: 0.5rem; 
}
.price{
    display: flex;
   justify-content: center;
   margin-top: 0.5rem;
}
.red{
    color:red;
    font-size: 1.3rem;
}
.cross{
    color:rgb(184, 184, 184);
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.2rem;
    text-decoration: line-through;
}
.products-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 3rem;
}
.footer{
    margin-top: 5rem;
}
.upper{
    padding-top: 3rem;
    display: flex;
    background-color: rgb(252, 252, 252);
    justify-content:space-evenly;
}
.svg-text{
    margin-top: 1rem;
    max-width: 25rem;
    display: inline-block;
}
.svgg{
    height: 14rem;
}
.mid{
    background-color: rgb(98, 255, 7,0.9);
    border-radius: 7px;
    width:35rem;
    margin:auto;
    align-self: center;
}
.src{
    height: 10rem;
    width:35rem;
    border-radius: 7px;
    opacity: 60%;
}
.lower{
    margin-top:2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    background-color: #1a1a1a;
    padding: 0.5rem;
}
.foot-right{
    display: flex;
}
.social{
    padding: 0.5rem 0.65rem;
    background-color: #1a1a1a;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 0.5rem;
    cursor: pointer;
}
.social:hover{
    background-color: #30cc00;
    color: white;
}
.fab{
    font-size: 1.3rem;
    color: white;
}
.logo{
    color: #5dfa35;
}
.foot-mid{
    color:white;
}
.buy-now{
    background-color: rgb(0, 255, 0);
    margin: 1rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.4rem;
    border:none;
    cursor:pointer;
}
.buy-now:active{
    background-color: #56d636;
}
.coin{
    height: 2rem;
    width:auto;
    display: inline;
    margin-right: 1rem;
}
.coin-container{
    padding: 0.2rem 1rem;
    background-color: #187a00;
    border-radius: 2rem;
    display: flex;
    border: 2px solid rgb(29, 206, 29);
}
.coin-number{
    color:rgb(8, 226, 0);
}